html {
    background-color: #2f2f2f;
}

body {
    height: 95dvh;
    display: grid;
    place-items: center;
}

.container {
    width: 20rem;
    height: 20rem;
    border: 0.5em solid indigo;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1em;
    padding: 1em;
    background-color: antiquewhite;
}

.container > div {
    font-weight: bold;
    font-size: larger;
}

#results {
    grid-column: span 2;
}

#gameButton {
    grid-column: span 2;
}